@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}


body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;

}

.card{
  background: linear-gradient(10deg, var(--very-dark-blue), var(--dark-blue));
  padding: 2rem 3rem;
  border-radius: 5%;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin:10rem 0;
}

.card__h1{
  color: var(--white);
  font-weight: 400;
}

.card__p{
  color:var(--light-gray);
  line-height: 25px;
}


/* Rating Component */
.card__img-rating{
  background-color: var(--dark-blue);
  width: auto;
  border-radius: 50%;
  padding: 18px;
}

.card__rating{
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}  

.card__ratingBtn{
  background-color: var(--dark-blue);
  color:var(--light-gray);
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}

.card__ratingBtn:hover{
  background-color: var(--medium-gray);
  color:var(--white);
  transition: background-color 150ms;
  cursor: pointer;
}

.card__ratingBtn:focus{
  background-color:  var(--orange);
  color:var(--white);
  transition: background-color 500ms;
}


.card__submit{
  display: flex;
  align-items: center;
  justify-content: center;
}  

.card__submitBtn{
  background-color: var(--orange);
  width: 375px;
  height: 50px;
  border-radius: 2rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing:3.25px;
  font-weight: 700;
}

.card__submitBtn:hover{
  background-color: var(--white);
  color: var(--orange);
  transition: background-color 150ms;
  cursor: pointer;
}

/* Thank you Component */
.card__img-thankyou-div{
  display: flex;
  align-self: center;
  justify-content: center;
}

.card__selectedRating {
  display: flex;
  align-self: center;
  justify-content: center;
}

.card__p-selectedRating {
  color:var(--orange);
  background-color: var(--dark-blue);
  width: 200px;
  height: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  line-height: 32px;
  border-radius: 1rem;
}

@media (min-width: 500px) {
  .card{
    width: 375px;
  }
  
}